* {
  margin: 0;
  padding: 10px;
}

/*David changed padding to 10px */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  /*  color: #fff;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3.0vw !important;
  font-weight: bold;
}
.question2{
  display: none;
}
.rxTable{
  margin-top:10px;
  font-size: .4em;
  display: none;
  margin-bottom: 10px;
}
 table{
  border:1px black solid;
  width: 60vw;
}
#ossph::after,#odsph::after{
  content: " *";
  color:red;
}
.prescription_table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.btnEquals{
  background-color: #3498db;
  color: white;
  border-radius: 15%;
  border: 1px solid rgb(52, 152, 219);
  font-weight: bold;
  cursor: pointer;
  float: left;
}
#blurContainer{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
#promptDialog{
  width: 64vw;
  height: 55vh;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  z-index: 11;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  top: 20%;
  left: 20%;
}
.questionContainer{
  width:80%;
  margin-left: 25%;
}
.promptQuestions .confirmBtn{
  position: unset;
  float:left;
  width: 15%;
  font-size: .5em;
  padding: 4px 0;
  border-radius: 3px;
  right: unset;
  margin: 2% 0 0 10%;
}
table select{
  border: 1px solid #3498db;

}
table select:focus{
  border: 2px solid #3498db;
}
.promptQuestions {
 margin-top:10%;
}
/* ID's will be individually diaplying none*/
#showLStyle, #showFrames, #showPLT, #showLAddOn, #showLMaterial {
  display: none;
}

/* Aside summary container*/
.total-price {
  text-align: right;
}

.asideData {
  font-size: .9vw;
  positon: absolute;
  right: 25%;
}

.aside-container h4 {
  background-color: lightgray;
  border-top-right-radius: 15px;
  text-align: left;
  font-size: .75em;
}

.aside-container h3 {
  text-align: left;
  font-size: .75em;
}

.aside-container p {
  font-size: .3em;
  text-align: left;
  margin-top: .3em;
  word-break: break-all;
}

.aside-container {
  font-family: 'Montserrat', sans-serif;
  width: 28vw;
  right: 5%;
  top: 20%;
  margin: 8px 10px;
  border-style: outset;
  border-color: rgba(255, 0, 0, 0.4);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #e9e1e14d;
  position: absolute;
  height: 50vh;
}

.confirmBtn {
  background: #3498db;
  position: absolute;
  width: 180px;
  padding: 4px 0;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  right: 10%;
}

.confirmBtn p {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;

}

.confirmBtn:hover {
  background-color: red;
    transition: background-color 500ms;
}

.container .sign-form .questions ol li {
  list-style: none;
}

.toggle-btn {
  transition: border 0.5s;
  cursor: pointer;
  letter-spacing: 1.5px;
  /*border-bottom: 2px solid black;*/
  cursor: pointer;
  /*background-color: rgb(77,187,220,0.8 ); */
  padding: 2px;
  font-size: 60%;
  text-align: left;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.optionContainer {
  border: 1px lightgray solid;
  width: 100%;
  padding: 10px 5px;
  height: 15vh;
  position: relative;
}

.optionContainer:hover{
  border: 2px lightgray ridge;
}

.txtDesc {
  font-size: .9vw;
  color: #8e444487;
  position: absolute;
  width: 80%;
  left: 19%;
  top: 39%;
  text-align: left;
  word-break: break-all;
}

.optionContainer ol {
  position: relative;
}

.optionContainer ol li {
  float: left;
  left: 0;
  width: 100%;
  position: absolute;
}

.lensImgSelect {
  border: 2px #639eff solid;
}

.picText {
  white-space: nowrap;
  float: center;
  font-size: .4em;
}

.lensImg {
  height: 53vh;
  width: 58vw
}

.lensImg li {
  cursor: pointer;
}

.botLine {
  position: absolute;
  right: 0;
  top: 27%;
  width: 80%;
  border-bottom: 1px lightgray solid;
}

.optionContainer img {
  height: 100%;
  border-right: 1px lightgray solid;
  left: 0;
  position: absolute;
  width: 20%;
  top: 0;
}

.optionPrice {
  text-align: right;
  font-size: .6em;
  color: #639eff;
  width: 10%;
  position: absolute;
  right: 0;
  height: 42%;
  bottom: 0;
}

.container {
  color: black;
  display: inline-block;
  width: 95vw;
  height: 100%;
}

.container .sign-form {
  width: 61vw;
  height: 70vh;
  /* border: solid #fb9494 2px; */
}

.container .sign-form .questions {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 60.5vw;
  /* display: inline-block; */
  height: 87vh;
}

/* working css
.container .sign-form .questions > li:nth-of-type(n+2) {
  display: none;
}*/
.container .sign-form .questions>li:not(:nth-child(1)) {
  display: none;
}

.container .sign-form .questions li span {
  display: block;
  margin-bottom: 10px;
}

.container .sign-form .questions li button {
  width: 45vw;
  font-size: 0.9em;
  /*margin: 0.3em 0 1em 0;*/
  border: none;
  background: none;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}

.container .sign-form .questions li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}

.container .navigation li:not(:first-child) {
  opacity: 0;
}

.container .error-message {
  color: rgba(207, 0, 0, 0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
}

@media screen and (max-device-width: 1024px) {
  .aside-container {

    position: unset;
    width: 10vw;
  }

  .aside-container p {
    font-size: .6em;
  }

   .aside-container {
    position: unset;
    width: 83vw;
    font-size: 5vw;
  }

  .asideData {
    font-size: 2.3vw;
  }

  .container {
    width: 95vw;
  }

  .container .sign-form .questions {
    width: 90vw;
    margin-left: -25px;
  }

  .lensImg {
    width: 100%;
  }

  .optionPrice {
    right: 10%;
  }

  .optionContainer img {
    width: 28%;
  }

  .botLine {
    width: 70%;
  }

  .optionContainer {
    font-size: 2.5em;
    height: 12vh;
    width: 70vw;

  }

  .txtDesc {
    font-size: .3em;
    width: 70%;
    left:26%;
  }

  .toggle-btn {
    font-size: 1.3em;
  }


  ::-webkit-input-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  :-ms-input-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  @-webkit-keyframes moveUpFromDown {
    from {
      -webkit-transform: translateY(100%);
    }

    to {
      -webkit-transform: translateY(0);
    }
  }

  @keyframes moveUpFromDown {
    from {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }

    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
