/*heading image*/
/* test */
.status {
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 900;
}

.heading-image {
  background: #CC95C0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 20vh;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}

.lens-heading {
  padding: 2px 1px 3px 45px;
  text-align: left;
  font-size: .45em;
}

/*tool tip for each step*/
.tooltip {
  position: relative;
  display: inline-block;
  float: right;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* nav progress bar */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.nav {
  margin-top: 40px;
}

.pull-right {
  float: right;
}

.arrow-steps {
  border: 1px lightblue solid;
  width: 90%;
  /* height: 34px; */
  border-radius: 5px;
  padding: 0;
  margin-left: 53px;
}

.arrow-steps .step {
  font-size: .3em;
  /* text-align: center; */
  /* color: #666; */
  cursor: default;
  /* margin: 0 3px; */
  /* padding: 10px 6px 11px 7px; */
  width: 20%;
  /* height: 30px; */
  float: left;
  /* position: relative; */
  background-color: powderblue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
  /* border: solid 2px; */
  display:none;
}


.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.arrow-steps .step.done {
  opacity: .5;
}

.arrow-steps .step.current {
  color: #fff;
  display: block;
  background-color: #23468c;
}


/* ID's will be individually diaplying none*/
#showLStyle, #showFrames, #showPLT, #showLAddOn, #showLMaterial {
  display: none;
}

/* David 11/13/18 edit p-tag*/
/* Solomon: Shortened the code a little to avoid redunancy*/
/*
#fullRimImg:hover~.picText {
  font-size: 30%;
  transition-duration: .2s;
}

#semiRimImg:hover~.picText {
  font-size: 30%;
  transition-duration: .2s;
}

#RimlessImg:hover~.picText {
  font-size: 30%;
  transition-duration: .2s;
}
*/
/*David 11/13/18*/
/* David 11/13/18 edit p-tag*/
/* Aside summary container*/
.total-price {
  text-align: right;
}

.asideData {
  font-size: .9vw;
  positon: absolute;
  right: 25%;
}

aside h4 {
  background-color: lightgray;
  border-top-right-radius: 15px;
  text-align: left;
  font-size: .75em;
}

aside h3 {
  text-align: left;
  font-size: .75em;
}

aside p {
  font-size: .3em;
  text-align: left;
  margin-top: .3em;
}

aside {
  width: 25%;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  right: 9%;
  top: 20%;
}

aside .aside-container {
  font-family: 'Montserrat', sans-serif;
  width: 28vw;
  right: 2%;
  margin: 8px 10px;
  border-style: outset;
  border-color: rgba(255, 0, 0, 0.4);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #e9e1e14d;
  position: relative;
  height: 50vh;
}

.container .sign-form .questions ol li {
  list-style: none;
}

.toggle-btn {
  transition: border 0.5s;
  cursor: pointer;
  letter-spacing: 1.5px;
  /*border-bottom: 2px solid black;*/
  cursor: pointer;
  /*background-color: rgb(77,187,220,0.8 ); */
  padding: 2px;
  font-size: 60%;
  text-align: left;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  width: 35%;
}

/*
.toggle-btn:hover {
  border-bottom-color: green;
  transform: translate(50px, 0px);
  width: 70%;
  transform: translateX(70px);
  transition: all 3s;
  transition: all 3s;
}
*/
* {
  margin: 0;
  padding: 10px;
}

/*David changed padding to 10px */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-color: white;
  /*  color: #fff;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3.0vw !important;
  font-weight: bold;
}

.optionContainer {
  border: 1px lightgray solid;
  width: 100%;
  padding: 10px 5px;
  height: 15vh;
  position: relative;
}

.txtDesc {
  font-size: .9vw;
  color: #8e444487;
  position: absolute;
  width: 80%;
  left: 19%;
  top: 39%;
  text-align: left;
  word-break: break-all;
}

.optionContainer ol {
  position: relative;
}

.optionContainer ol li {
  float: left;
  left: 0;
  width: 100%;
  position: absolute;
}

.lensImgSelect {
  border: 2px #639eff solid;
}

.picText {
  white-space: nowrap;
  float: center;
  font-size: .4em;
}

.lensImg {
  height: 53vh;
  width: 58vw
}

.lensImg li {
  cursor: pointer;
}

.botLine {
  position: absolute;
  right: 0;
  top: 27%;
  width: 80%;
  border-bottom: 1px lightgray solid;
}

.optionContainer img {
  height: 100%;
  border-right: 1px lightgray solid;
  left: 0;
  position: absolute;
  width: 20%;
  top: 0;
}

.optionPrice {
  text-align: right;
  font-size: .6em;
  color: #639eff;
  width: 10%;
  position: absolute;
  right: 0;
  height: 42%;
  bottom: 0;
}

.container {
  color: black;
  display: inline-block;
  width: 95vw;
  height: 100%;
}

.container .sign-form {
  width: 61vw;
  height: 70vh;
  /* border: solid #fb9494 2px; */
}

.container .sign-form .questions {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 60.5vw;
  /* display: inline-block; */
  height: 87vh;
}

/* working css
.container .sign-form .questions > li:nth-of-type(n+2) {
  display: none;
}*/
.container .sign-form .questions>li:not(:nth-child(1)) {
  display: none;
}

.container .sign-form .questions li span {
  display: block;
  margin-bottom: 10px;
}

.container .sign-form .questions li button {
  width: 45vw;
  font-size: 0.9em;
  /*margin: 0.3em 0 1em 0;*/
  border: none;
  background: none;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}

.container .sign-form .questions li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}

.container .navigation li:not(:first-child) {
  opacity: 0;
}

.container .error-message {
  color: rgba(207, 0, 0, 0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
}

@media screen and (max-device-width: 1024px) {
  aside {
    postion: relative;
    position: unset;
    width: 100%;
  }

  aside .aside-container {
    position: unset;
    width: 100%;
    font-size: 5vw;
  }

  .container .sign-form .questions {
    width: 90vw;
  }

  .lensImg {
    width: 100%;
  }

  .optionContainer {
    font-size: 2em;
  }

  .txtDesc {
    font-size: .6em;
  }

  .toggle-btn {
    font-size: 1em;
  }

  ::-webkit-input-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  :-ms-input-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  @-webkit-keyframes moveUpFromDown {
    from {
      -webkit-transform: translateY(100%);
    }

    to {
      -webkit-transform: translateY(0);
    }
  }

  @keyframes moveUpFromDown {
    from {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }

    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
