/*heading image*/
.heading-image {
  background-color: linear-gradient(rgba(230, 235, 224, 0.25) , transparent));
  height: 20vh;
  width:100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	margin-bottom:15px;
}
.lens-heading{
  padding: 2px 1px 3px 45px;
  text-align: left;
  font-size: .45em;
}
/*tool tip for each step*/
.tooltip {
  position: relative;
  display: inline-block;
	float: right;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* nav progress bar */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.nav {
  margin-top: 40px;
}

.pull-right {
  float: right;
}

.arrow-steps .step {
  font-size: .3em;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 6px 11px 7px;
  width: 15vw;
  float: left;
  position: relative;
  background-color: #fb949400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
  border: solid 2px;
}

/*
.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
}
*/
.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #BFDBF7;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: "✔";
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}
.arrow-steps .step.done{
  opacity: .5;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #23468c;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #23468c;
}

/* ID's will be individually diaplying none*/
#showLStyle, #showFrames, #showPLT, #showLAddOn, #showLMaterial {
  display: none;
}

/* David 11/13/18 edit p-tag*/
/* Solomon: Shortened the code a little to avoid redunancy*/
.picText {
  white-space: nowrap;
  width: 250px;
  float: left;
  font-size: 0;
}

#fullRimImg:hover~.picText {
  font-size: 30%;
  transition-duration: .2s;
}

#semiRimImg:hover~.picText {
  font-size: 30%;
  transition-duration: .2s;
}

#RimlessImg:hover~.picText {
  font-size: 30%;
  transition-duration: .2s;
}

/*David 11/13/18*/
#fullRimImg:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
  transition-duration: .7s;
}

#semiRimImg:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
  transition-duration: .7s;
}

#RimlessImg:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
  transition-duration: .7s;
}

/*David 11/13/18*/
/* David 11/13/18 edit p-tag*/
/* Aside summary container*/
.total-price {
  text-align: right;
}

aside h4 {
  background-color: lightgray;
  border-top-right-radius: 15px;
  text-align: left;
  font-size: .75em;
}

aside h3 {
  text-align: left;
  font-size: .75em;
}

aside p {
  font-size: .3em;
  text-align: left;
  margin-top: .3em;
}

aside {
  width: 31vw;
  z-index: -1;
  border-radius: 10px;
}

aside .aside-container {
  font-family: 'Exo 2', sans-serif;
  width: 30vw;
  right: 0;
  margin: 8px 10px;
  border-style: outset;
  border-color: rgba(255, 0, 0, 0.4);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #e9e1e14d;
  position: fixed;
  height: 50vh;
}

.container .sign-form .questions ol li {
  float: left;
  list-style: none;
  width: 17vw;
}

.container .sign-form .questions ol {
  width: 53vw;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* IMAGE STYLES */
[type=radio]+img {
  cursor: pointer;
  float: left;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
  outline: 2px solid green;
}

.lensImg {
  height: 25vh;
  position: relative;
}

.lensImg img {
  width: 17vw;
  height: 28vh;
}

.container ol {}

.toggle-btn {
  transition: border 0.5s;
  cursor: pointer;
  letter-spacing: 1.5px;
  /*border-bottom: 2px solid black;*/
  cursor: pointer;
  /*background-color: rgb(77,187,220,0.8 ); */
  padding: 2px;
  font-size: 60%;
  text-align: left;
  margin-top: 15px;
  font-family: 'Exo 2', sans-serif;
}

/*
.toggle-btn:hover {
  border-bottom-color: green;
  transform: translate(50px, 0px);
  width: 70%;
  transform: translateX(70px);
  transition: all 3s;
  transition: all 3s;
}
*/
* {
  margin: 0;
  padding: 10px;
}

/*David changed padding to 10px */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-color: white;
/*  color: #fff;*/
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 4.0vw !important;
  font-weight: bold;
}

.container {

  color: black;
  display: inline-block;
  width: 90vw;
  height: 100%;
}

.container .sign-form {
  width: 58.5vw;
  height: 100vh;
  border: solid #fb9494 2px;
}

.container .sign-form #next-page {
  opacity: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  background: url("https://jdniki.github.io/signup/images/next-page.svg");
  background-size: contain;
}

.container .sign-form #next-page:hover {
  background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
  background-size: contain;
}

.container .sign-form .questions {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 6.5vw;
  /*display: inline-block; */
  height: 1vh;
}

.container .sign-form .questions li {
  /*position: absolute;*/
  width: 40vw;
}

.container .sign-form .questions li span {
  display: block;
  margin-bottom: 10px;
}

.container .sign-form .questions li button {
  width: 45vw;
  font-size: 0.9em;
  /*margin: 0.3em 0 1em 0;*/
  border: none;
  background: none;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}

/*
.container .sign-form .questions li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}*/
/* if not first child it doesnt display

.container .sign-form li:not(:first-child) {
  opacity: 0;
}
*/
.container .error-message {
  color: rgba(207, 0, 0, 0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0);
  }
}

@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
